@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.container-fluid {
  width: 100%;
  height: 100%;
  background-image: url("/images/fotoPrincipal5.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 3em;
}
.container1 {
  width: 32em;
  height: 32em;
  background-image: url("/images/masters.png");
  background-size: 100%;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}

.containerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between 1em;
  margin-top: 0.8em;
}

.button1,
.button2 {
  background-color: #01fcd6ab;
  border: 4px solid #b2f704;
  border-radius: 8px;
  margin: 1em;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ba08d9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  color: rgb(243, 0, 207);
}

.button1:hover,
.button2:hover,
.buttonBack:hover {
  box-shadow: inset 0 0 0 50px #01fcd8;
}

.containerText {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.caja {
  font-family: oblique;
  font-size: 20px;
  background: #0bf4e49a;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 20px;
  border-radius: 8px;
  text-align: justify;
}

.borderContainer {
  border: 0.3em groove #f704d3;
  border-radius: 1em;
  width: 55em;
  height: 35em;
  margin-left: auto;
  margin-right: auto;
  background-color: #01fcd656;
  margin-top: 1.2em;
}

.borderContainer2 {
  border: 0.3em groove #dbf704;
  border-radius: 1em;
  width: 40em;
  height: 25em;
  margin-left: auto;
  margin-right: auto;
  background-color: #01fcd656;
  margin-top: 1.5em;
}
.borderContainer3 {
  border: 0.3em groove #f704eb;
  border-radius: 1em;
  width: 22em;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  background-color: #01fcd656;
  margin-top: 1.5em;
}

.containerVictory,
.containerFail {
  border: 0.3em groove #dbf704;
  border-radius: 1em;
  width: 65em;
  height: 15em;
  margin-left: auto;
  margin-right: auto;
  background-color: #01fcd656;
  margin-top: 1.2em;
}

.buttonBack {
  background-color: #fc01b5bd;
  border: 3px solid #b604f7;
  border-radius: 8px;
  padding: 5px 60px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ba08d9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.h1Title {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
#neons,
#labelName {
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  font-family: "Codystar";
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
      0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
      0 0 90px #00fff2;
  }
  to {
    color: #f704d3;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2,
      0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2,
      0 1 90px #00fff2;
  }
}

#nameInput {
  border: 2px dashed #b2f704;
  background-color: #01fcd8;
  border-radius: 5px;
  height: 2em;
  width: 60%;
  margin-left: 5em;
  margin-top: 2em;
}

::placeholder {
  color: rgb(247, 8, 163);
  font-size: 1.1em;
  text-align: center;
  background-color: pink;
}

.containerName {
  width: 100%;
  height: 100%;
  padding-top: 3em;
}

#labelName {
  font-family: "Codystar";
  color: #83079b;
  font-weight: bold;
  font-size: 20px;
  margin-left: 14%;
  margin-right: 14%;
}

.columnColor {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 4.5em;
}

#color_picker {
  width: 5em;
  height: 3em;
  border-radius: 16px;
}

#h2Colors {
  margin-left: 4.8em;
  font-family: "Codystar";
  color: #b2f704;
  font-weight: bold;
}

.buttonVictory {
  padding-top: 1.5em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'DotGothic16', sans-serif;
  font-size: 56px;
  color: rgba(255, 255, 255, 1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de,
    0 0 80px #ff00de, 0 0 100px #ff00de;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttonVictory:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1), 0 0 40px #00ffff, 0 0 70px #00ffff,
    0 0 80px #00ffff, 0 0 100px #00ffff;
}

.titleVictory{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#gameOverId {
  box-sizing: border-box;
  font-family: 'Pixelify Sans', sans-serif;
  color: rgba(201, 15, 211, 0.89);
  font-size: 11vw;
  position: relative;
  margin-left: 0.4em;
  margin-top: 0.15em;
  text-transform: uppercase;
  -webkit-text-stroke: 0.3vw rgb(201, 15, 211);;
}

#gameOverId::before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #cfff04;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  border-right: 2px solid #c19bf5;
  -webkit-text-stroke: 0vw #f7f7fe;
  animation: animate 6s linear infinite;
} 

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
} 
